/* AdminNavBar.css */

.sidebar {
    height: 100%;
    width: 250px; /* Adjust the width as needed */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d7c5b455; /* Background color */
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.admin-navbar_container {
    padding-left: 15px;
    padding-right: 15px;
}

.admin-navbar_list {
    list-style-type: none; /* Remove list bullets */
    padding: 0;
}

.admin-navbar__item {
    margin-bottom: 10px;
}

.admin-navbar_link {
    padding: 10px 20px;
    color: black; /* White text color */
    display: block; /* Make links block level */
    text-align: center; /* Center align the text */
    text-decoration: none; /* Remove underline */
    border-radius: 20px;
    background-color: #d2b48c; /* Initial background color */
}

.admin-navbar_link:hover {
    background-color: #1e1613; /* Darker background color on hover */
    color: white;
}

.admin-navbar_link img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Vertically align icons with text */
    margin-right: 8px;
}

.admin-navbar__list--bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
